#trafficMetroline{
    width: 600px;
    height: 370px;
    display: flex;
    flex-direction: column;
    /*border: 2px solid green;*/
}
#trafficMetroline #trafficMatroline_BtnContainer{
    display: flex;
}
#trafficMetroline #trafficMatroline_BtnContainer button{
    flex-grow: 1;
    padding: 10px;

}
#trafficMetroline #traffic_gallery_wrap{
    overflow: hidden;
}

#trafficMetroline #traffic_slide_gallery{
    display: flex;
    width: 5400px;
}
#trafficMetroline .traffic_slide_gallery_Image{
    display: inline-block;
    width: 600px;
    height: 325px;
}

#trafficMetroline  #backbtn {
        background-size: contain;
}
#trafficMetroline  #nextbtn {
    background-size: contain;
}

#trafficMetroline #trafficMatroline_BtnContainer *{
    font-weight: bold;
    font-size: 25px;
}
#trafficMetroline #traffic_playToggle.BigChar{
    font-size: 35px;
    overflow: hidden;  /* 내용이 버튼 크기를 초과할 경우 숨김 처리 */
    text-align: center; /* 글자를 버튼 중앙에 위치 */
    line-height: 0; /* 글자를 버튼 중앙에 정렬 (세로) */

}